#body {
  background-color: black;
}

header {
  border-bottom: dotted white;
}

.availableListing {
  color: white;
  max-height: 60vh;
  overflow-y: scroll;
  padding-right: 50px;
}

.availableListing::-webkit-scrollbar {
  background-color: #000;
  width: 12px;
  border-radius: 10px;
}

.availableListing::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.availableListing::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #a520ca),
    color-stop(1, #2681cc)
  );
  border-radius: 10px;
}

footer {
  border-top: dotted white;
}

.resultText {
  text-align: center;
}
